.container {
  width: 100vw;
  height: 100vh;
}

.tooth-con{
  display: flex;
  transform: rotateY(70deg);
  /* border: 1px solid black; */
}
.tooth{
  width: 100px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid black;;
}