.container {
  width: 100vw;
  
}

.tooth-con{
  display: flex;
  transform: rotateY(70deg);
}
.tooth:Hover{
  color:crimson;
  cursor: pointer;
  
}
.disabled{
  pointer-events: none;
}

.margin{
  margin: 10px;
}



::-webkit-scrollbar {
  width: 8px;
 
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
  
}
::-webkit-scrollbar-track {
  background-color: transparent;
}